@import "tailwindcss";

.morfit {
    @apply rounded;
    background: white;
    box-shadow: inset -4px -4px 8px #d1d1d1, inset 5px 5px 10px #ffffff;
}

@theme {
    --color-primary : #31c0ce;
    --color-secondary: #ffff;
    --width-mobile: 680px;
}


/* custom scrollbar */
html::-webkit-scrollbar {z-index: 1;}
.html {
    scrollbar-width: thin;
    scrollbar-color: #0c5361 #080101;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@media screen and (max-width: 680px) {
    .html {scrollbar-width: none;}
}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #200889;}